@import "../../styles/variables.scss";

.problem-set-name {
  font-size: 1.3rem;
}

.problem-set-box {
  background-color: $transparent;
  border: 3px solid $transparent2;
  padding: 0.7rem 1rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
}
