@import "./variables.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";

.text-grey1 {
  color: $grey1;
}
.text-grey2 {
  color: $grey2;
}

.toki-button {
  background-color: #ffffff00;
  border-color: rgba(0, 0, 0, 0.54);
  color: rgba(0, 0, 0, 0.54);
  font-weight: normal;
  border-width: 3px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.54) !important;
    border-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.54);
    font-weight: 400;
    border-width: 3px;
  }
}

.offset-navbar {
  margin-top: 5rem;
}

.text-1c5 {
  font-size: 1.5rem;
}

.w-100vw {
  width: 100vw;
}
