@import "./variables.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";

.text-grey1 {
  color: $grey1;
}
.text-grey2 {
  color: $grey2;
}

.my-button {
  color: $grey1;
  border: 1px solid $grey1;

  &:hover {
    background-color: $grey3;
  }
}
