@import "./variables.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-svg-core/styles.css";

body {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  color: $transparent2;
  font-size: 0.8rem;
  @media (min-width: $sm) {
    font-size: 0.9rem;
  }
  @media (min-width: $lg) {
    font-size: 1rem;
  }
}

blockquote {
  border-left: 5px solid $grey3;
  padding-left: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

p {
  a {
    color: $transparent2;
    text-decoration: none;
    border-bottom: 1px dotted $transparent2;

    &:hover {
      color: $transparent2;
      text-decoration: none;
      border-bottom: 1px solid $transparent2;
    }
  }
}

.text-grey1 {
  color: $grey1;
}
.text-grey2 {
  color: $grey2;
}

.toki-button {
  background-color: $transparent;
  border-color: $transparent2;
  color: $transparent2;
  font-weight: normal;
  border-width: 3px;
  border-style: solid;
  letter-spacing: 0.15em;
  text-align: center;
  padding: 3px 6px;

  &:hover {
    background-color: $transparent2 !important;
    border-color: $transparent;
    color: $transparent2;
    font-weight: 400;
    border-width: 3px;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem $transparent3;
  }

  &.button-lg {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }

  &.button-block {
    width: 100%;
  }
}

.tag-button {
  background-color: $transparent;
  border-color: $transparent2;
  color: $transparent2;
  font-weight: normal;
  border-width: 3px;
  border-style: solid;
  text-align: center;
  padding: 3px 6px;

  &:hover {
    background-color: $transparent2 !important;
    border-color: $transparent;
    color: $transparent2;
    font-weight: 400;
    border-width: 3px;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem $transparent3;
  }
}

.offset-navbar {
  margin-top: 5rem;
}

.content {
  min-height: 500px;
}

.text-1 {
  font-size: 1.25rem;
}
.text-2 {
  font-size: 1.5rem;
}
.text-3 {
  font-size: 2rem;
}

.w-100vw {
  width: 100vw;
}

$img-sizes: 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600;
@each $img-size in $img-sizes {
  .img-#{$img-size} {
    width: 100%;
    $img-size-px: $img-size * 1px;
    @media (min-width: $img-size-px) {
      width: $img-size-px;
    }
  }
}
.img-center {
  display: flex;
  justify-content: center;
}

.disabled {
  pointer-events: none;
}
