@import "./variables.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";

.text-grey1 {
  color: $grey1;
}
.text-grey2 {
  color: $grey2;
}

.toki-button {
  background-color: #ffffff00;
  border-color: rgba(0, 0, 0, 0.54);
  color: rgba(0, 0, 0, 0.54);
  font-weight: normal;
  border-width: 3px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.54) !important;
    border-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.54);
    font-weight: 400;
    border-width: 3px;
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.3);
  }

  &.button-lg {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }

  &.button-block {
    width: 100%;
  }
}

.offset-navbar {
  margin-top: 5rem;
}

.content {
  min-height: 500px;
}

.text-1 {
  font-size: 1.25rem;
}
.text-2 {
  font-size: 1.5rem;
}
.text-3 {
  font-size: 2rem;
}

.w-100vw {
  width: 100vw;
}

$img-sizes: 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600;
@each $img-size in $img-sizes {
  .img-#{$img-size} {
    width: 100%;
    $img-size-px: $img-size * 1px;
    @media (min-width: $img-size-px) {
      width: $img-size-px;
    }
  }
}
.img-center {
  display: flex;
  justify-content: center;
}
