$white: #fff;
$grey1: #474747;
$grey2: #616161;
$grey3: #e8e8e8;
$grey4: #f2f2f2;

$transparent: rgba(0, 0, 0, 0);
$transparent1: rgba(0, 0, 0, 0.8);
$transparent2: rgba(0, 0, 0, 0.54);

$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
