.content.downloads {
  padding-top: 100px;
  padding-bottom: 50px;
}

.bg-download {
  height: 400px;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
