@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import "../styles/global.scss";
@import "../styles/variables.scss";

body {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.54);
}

.blog-post {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-card__content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.blog-card__text {
  flex: 1;
}

.about-us {
  height: 360px;
  padding-top: 8vh;
  padding-left: 3vw;
}

.latest-achievement {
  height: 380px;
  padding-top: 8vh;
  padding-left: 3vw;
}

.OSK-OSP {
  height: 300px;
  padding-top: 6vh;
  padding-left: 3vw;
}

.TLX {
  height: 300px;
  padding-top: 6vh;
  padding-left: 3vw;
}

.PKD {
  height: 400px;
  padding-top: 10vh;
  padding-left: 3vw;
}

.IA {
  height: 300px;
  padding-top: 6vh;
  padding-left: 3vw;
}

.blog {
  padding-top: 6vh;
  padding-left: 3vw;
}

.landing-image {
  color: $grey3;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  text-shadow: 3px 2px $grey1;
  text-align: center;

  height: 60vw;
  @media (min-width: $lg) {
    height: 100vh;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    letter-spacing: 0.1rem;
    transform: translate(-50%, -50%);

    font-size: 1.2rem;
    @media (min-width: $sm) {
      font-size: 2rem;
    }
    @media (min-width: $md) {
      font-size: 3rem;
    }
    @media (min-width: $lg) {
      font-size: 3.5rem;
    }
  }
}
