@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import "../styles/global.scss";
@import "../styles/variables.scss";

.about-us {
  height: 360px;
  padding-top: 8vh;
  padding-left: 3vw;
}

.latest-achievement {
  height: 380px;
  padding-top: 8vh;
  padding-left: 3vw;
}

.OSK-OSP {
  height: 300px;
  padding-top: 6vh;
  padding-left: 3vw;
}

.TLX {
  height: 300px;
  padding-top: 6vh;
  padding-left: 3vw;
}

.PKD {
  height: 400px;
  padding-top: 10vh;
  padding-left: 3vw;
}

.IA {
  height: 300px;
  padding-top: 6vh;
  padding-left: 3vw;
}

.blog {
  padding-top: 6vh;
  padding-left: 3vw;
}

.landing-image {
  color: $grey3;
  font-family: Lato;
  font-style: normal;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  text-align: center;

  height: 60vw;
  @media (min-width: $lg) {
    height: 100vh;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    letter-spacing: 0.2em;
    transform: translate(-50%, -50%);

    font-size: 1.2rem;
    @media (min-width: $sm) {
      font-size: 2rem;
    }
    @media (min-width: $md) {
      font-size: 3rem;
    }
    @media (min-width: $lg) {
      font-size: 3.5rem;
    }
  }
}

.section-title {
  letter-spacing: 0.2em;
}

.background-content {
  position: relative;
}

.background-content__background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  user-select: none;

  padding: 2rem;
  background: #eee;
}

.background-content__title {
  font-size: 6rem;
  font-weight: bold;
  opacity: 0.1;
}