@import "../styles/variables.scss";

.preview-content,
.html-content {
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  p + figcaption {
    margin-top: -1.5rem;
  }
  figcaption {
    margin-bottom: 1rem;
  }
  table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
  }
  table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid $grey3;
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }
  table td,
  table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid $grey3;
    border-top-width: 1px;
    border-top-style: solid;
  }
  table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  $img-sizes: 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600;
  @each $img-size in $img-sizes {
    .img-#{$img-size} {
      display: inline-block;

      width: 100%;
      $img-size-px: $img-size * 1px;
      $buffer: 10px;
      @media (min-width: $img-size-px - $buffer) {
        width: $img-size-px;
      }
    }
  }
}
