@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.footer-title {
  letter-spacing: 0.26em;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  color: #555555c0;
  font-size: 20px;
  padding-top: 3vh;
  padding-bottom: 1vh;
}

.footer-links {
  letter-spacing: 0.1em;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  color: #555555c0;
  font-size: 18px;
  padding-bottom: 1vh;
}

.footer-follow {
  letter-spacing: 0.1em;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding-top: 1vh;
}

.footer-link {
  color: #555555c0;
  &:hover {
    color: #555555c0;
  }
}
