.toki-pagination {
  .page-item {
    .page-link {
      color: rgba(0, 0, 0, 0.54);
      border: 2px solid rgba(0, 0, 0, 0.54);
      border-radius: 0;
    }

    &:not(.disabled) {
      &.active,
      &:hover {
        .page-link {
          background-color: rgba(0, 0, 0, 0.54);
          border: 2px solid rgba(0, 0, 0, 0.54);
          color: rgba(255, 255, 255, 0.54);
          outline: 0;
        }
      }
      &:active {
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.3);
      }
    }
  }
}
