@import "../styles/variables.scss";

.toki-pagination {
  .page-item {
    .page-link {
      color: $grey2;
      border: 1px solid $grey2;
      border-radius: 0;

      &:focus {
        box-shadow: none;
      }
    }

    &.disabled {
      .page-link {
        opacity: 50%;
      }
    }

    &:not(.disabled) {
      &.active {
        .page-link {
          color: $grey4;
          background-color: $grey2;
          outline: 0;
        }
      }
      &:hover:not(.active) {
        .page-link {
          background-color: $grey3;
          outline: 0;
        }
      }
    }
  }
}
